
<footer>
  <p>&copy; 2024 College Food Court. All rights reserved.</p>
</footer>
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
<script src="/assets/js/script.js" defer></script>
</body>
</html>