<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>College Food Court</title>
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
    <link rel="stylesheet" href="/assets/css/style.css">
</head>
<body>
    <header>
        <div class="logo">
            <h1>College Food Court</h1>
        </div>
        <nav>
            <ul> 
                <li><a href="/shops">Shops</a></li>
                <li><a href="#contact-details">Contact us</a></li>


                <li class="dropdown">
                    <a  class="dropbtn">Orders &#9662;</a>
                    <div class="dropdown-content">
                            <a href="/orders">Orders</a>
                            <a href="/ordersHistory">Orders History</a>
                
                    </div>
                </li>


                <li class="dropdown">
                    <a  class="dropbtn">Login &#9662;</a>
                    <div class="dropdown-content">
                        <a href="/login"><%= user.name || Login / Signup%></a>
                        <%if(user){%>
                        <a href="/viewProfile">View Profile</a>
                        <a href="/logout">Logout</a>
                        <%}%>
                    </div>
                </li>
                <button class="cart-btn" aria-label="Cart">
                    <a href="/cart"> 
                      <span class="cart-counts" id="cart-count">0</span>
                      <ion-icon name="cart-outline"></ion-icon>
                    </a>
                </button>
            </ul>
        </nav>
    </header>

 